/* LoginScreen.css */

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bg3.jpg'); /* Set path to your background image */
    background-size: cover;
    background-position: center;
  }
  
  .login-form {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8); /* Add opacity to the background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  